DATABASE_URL="sqlserver://localhost:1433;database=InventarioSedes;user=sa;password=Dev_Inventario_2026!;trustServerCertificate=true"
DATABASE_URL_TEST="sqlserver://localhost:1433;database=InventarioSedes_test;user=sa;password=Dev_Inventario_2026!;trustServerCertificate=true"
JWT_SECRET="cambiar"
JWT_EXPIRES_IN="12h"
PORT=3001
ERP_DB="SaintDemo"
SYNC_INTERVAL_MIN=15
SEED_SUPERADMIN_EMAIL="admin@rpdental.local"
SEED_SUPERADMIN_CLAVE="cambiar"
